<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="txIgl9FqKm3cY_2xV16aeMLFuW0peogiizNDL5n8h-c" />
    <title>Johan Runsten's blog</title>
    <link href="/main.css" rel="stylesheet">
    <script defer src="https://cloud.umami.is/script.js" data-website-id="4cfd3e2f-39b4-4760-834c-5fd2af754c0f"></script>
  </head>

  <body>
    <script src="/early.js"></script>
    <header class="site-header">
      <nav class="site-nav">
        <a class="nav-logo" href="/">Johan Runsten's blog</a>
        <ul>
          <li>
            <button id="theme-toggle">
              <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
              </svg>
              <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 24"
                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
              </svg>
            </button>
          </li>
          <li>
            <a href="https://github.com/jrunestone">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 16 16" width="20" aria-hidden="true" class="d-block"><path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
            </a>
          </li>
          <li>
            <a href="https://www.google.com/search?q=site:jrunestone.github.io">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="20" height="20" viewBox="0 0 256 256" xml:space="preserve">
                <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                  <path fill="currentColor" d="M 79.055 10.945 c -14.593 -14.593 -38.253 -14.593 -52.847 0 c -12.026 12.026 -14.132 30.206 -6.337 44.398 L 0.4 74.815 c -0.533 0.533 -0.533 1.398 0 1.931 L 13.253 89.6 c 0.533 0.533 1.398 0.533 1.931 0 l 19.472 -19.472 c 14.192 7.795 32.372 5.69 44.398 -6.337 C 93.648 49.198 93.648 25.538 79.055 10.945 z M 36.473 53.527 c -8.924 -8.924 -8.924 -23.393 0 -32.317 s 23.393 -8.924 32.317 0 s 8.924 23.393 0 32.317 S 45.397 62.451 36.473 53.527 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round"/>
                </g>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="site-main">
      <section class="site-section">
        {% block content %} {% endblock content %}
      </section>
    </main>
    <script src="/late.js"></script>
  </body>
</html>
